.idea/
*.iml
node_modules/
1-navigate-between-pages/.idea/
1-navigate-between-pages/.next/
1-navigate-between-pages/node_modules/
2-using-shared-components/.idea/
2-using-shared-components/.next/
2-using-shared-components/node_modules/
3-create-dynamic-pages/.next/
3-create-dynamic-pages/node_modules/
4-clean-urls/.next/
4-clean-urls/node_modules/
